<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <input id="number1" type="number" maxlength="1" inputmode="numeric" pattern="[0-9]">
        <select name="Operador" id="operator">
            <option value="+">suma</option>
            <option value="-">resta</option>
            <option value="/">division</option>
            <option value="*">multiplicacion</option>
        </select>
        <input id="number2" type="number" maxlength="1" inputmode="numeric" pattern="[0-9]">
        <button id="bton">Enviar numeors</button>
        <label id="answerd">Hola</label>
    </div>
<script src="../static/script.js"></script>
</body>

</html>